.yellow{
    color: blue;
}

/*///////////////////////// HEADING TITLE ///////////////////////////*/

.main-heading{
    background-color: #1f1f1f ;
    color: white ;
    padding: 10px;
    margin-bottom: 30px;
}

/*//////////////////////////////////////////////////////////////////*/

/*//////////////////////// LOGIN STYLE ///////////////////////////////*/
