.yellow{
    color: blue;
}

/*///////////////////////// HEADING TITLE ///////////////////////////*/

.main-heading{
    background-color: #1f1f1f ;
    color: white ;
    padding: 10px;
    margin-bottom: 30px;
}

/*//////////////////////////////////////////////////////////////////*/


/*//////////////////////// PANEL FILTER ////////////////////////////*/

/*
.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

*/

/*//////////////////////////////////////////////////////////////////////*/

/*/////////////////////////// BACK TO TOP ///////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////*/