<!DOCTYPE html>
<html>
    <head>
        <title>Formation symfony</title>
    </head>
    <body>
        <header>
            <h1>Bienvenue sur le site </h1>

            <a href="{{ path('troiswa_back_training',{string:"toto"}) }}">Voir la page training</a>

            <a href="{{ path('troiswa_back_training') }}">Voir la page training</a>

        </header>
    </body>
    <footer>

    </footer>
</html>
