{%  for oneproduct in findTwoProductWithMoreTag %}
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="cuadro_intro_hover " style="background-color:#cccccc;">

                <img src="{{ asset(oneproduct.cover.webPath) }}" class="img-responsive" alt="{{ oneproduct.cover.alt }}">

            <div class="caption">
                <div class="blur"></div>
                <div class="caption-text">
                    <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">{{ oneproduct.title }}</h3>
                    <p>Loren ipsum dolor si amet ipsum</p>
                    <a class=" btn btn-default" href="{{ path('troiswa_front_product_info',{idprod: oneproduct.id} ) }}">détails</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}