<!DOCTYPE html>
<html>
<head>
    <title>Formation symfony</title>
</head>
<body>
<header>
    <h1>Toutes les categories</h1>

    <hr/>

    <ul>
        {% for category in categories if  category.active == true %}

            <li>Categorie : {{ category.title }}</li>
            <li>Description: {{ category.description }}</li>
            <li>Date de creéation : {{ category.date_created| date('d/m/Y') }}</li>
            <li><a href="{{ path('troiswa_back_category_info',{idcat: category.id}) }}">voir information</a></li>
            <li>---------------------------------------------------------</li>

        {% endfor %}
    </ul>

    <hr/>

</header>
<footer>
    <p>---powered by symfony2---dev: Guiz---</p>
</footer>
</body>

</html>