<!DOCTYPE html>
<html>
<head>
    <title>Formation symfony</title>
</head>
<body>
<header>
    <h1>La team formatrice </h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda earum rem. Ab ad, aliquam aspernatur atque debitis distinctio ea, hic illo illum quisquam quo sed vel voluptate voluptatibus voluptatum.</p>

    <!-- lien relatif -->
    <a href="{{ path('troiswa_back_cgv') }}">Voir les conditions généralles de ventes</a>

    <br/><br/>

    <!-- lien absolue ( pour les mail par exemple ) -->
    <a href="{{ url('troiswa_back_cgv') }}">Voir les conditions généralles de ventes</a>

</header>
<footer>
    <p>---powered by symfony2---dev: Guiz---</p>
</footer>
</body>

</html>