{% extends "troiswaBackBundle::layouttest.html.twig" %}



{% block contenu %}

 <h3> Super contenu </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aperiam consequuntur delectus deserunt distinctio dolore
        explicabo maiores nemo temporibus? Ad eius error esse
        impedit nulla, odit quae sapiente sit ullam vel.</p>

{% endblock %}

{% block test %}

    <p>Contenu qui écrase le contenu par defaut du layout</p>

{% endblock %}