<h2>FOOTER CGV</h2>

<span>Dev : {{ name|default('existe pas') }}</span>
<span>Dev : {{ nameAfter }}</span>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Amet animi architecto deserunt ea enim fugiat, iusto magnam
    minima neque provident repellendus repudiandae sint! Deserunt,
    enim ipsum labore quod reiciendis saepe?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Amet animi architecto deserunt ea enim fugiat, iusto magnam
    minima neque provident repellendus repudiandae sint! Deserunt,
    enim ipsum labore quod reiciendis saepe?</p>